$animations: (
    'fade-in': k-fade-in
);

$ease: (
        'default': cubic-bezier(0.96, -0.01, 0.36, 1),
        'ease-out': ease-out
);

@mixin use($animation, $duration: 1s, $delay: 0s, $easing: 'ease-out') {
    @if (map-has-key($animations, $animation) and map-has-key($ease, $easing)) {
        animation: #{map-get($animations, $animation)} $duration #{map-get($ease, $easing)} forwards;
        animation-delay: $delay;
    }
}

@keyframes k-fade-in {
    from {
        opacity: 0;
        transform: translateY(2vh);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
