@keyframes k-hello-show {
    0% {
        fill: transparent;
        stroke-dasharray: 0 1500;
        transform: translateX(-3vw);
    }

    70% {

        stroke-dasharray: 1500 0;
        fill: transparent;
    }

    100% {
        fill: var(--color-emphasize);
        stroke-dasharray: 1500 0;
        transform: translateX(0);
    }
}
