$animations: (
    'loading': intro-loading,
    'logo': intro-logo
);

$ease: (
    'default': cubic-bezier(0.96, -0.01, 0.36, 1)
);

@mixin use($animation, $duration, $delay: 0, $easing : 'default') {
    @if (map-has-key($animations, $animation) and map-has-key($ease, $easing)) {
        animation: #{map-get($animations, $animation)} $duration #{map-get($ease, $easing)} forwards;
        animation-delay: $delay;
    }
}

@keyframes intro-loading {
    0% {
        opacity: 0;
        stroke: var(--color-emphasize);
        stroke-dasharray: 0 245;
        fill: var(--color-emphasize);
    }
    5% {
        opacity: 1;
    }
    45%,
    55% {
        stroke: var(--color-bg);
        stroke-dasharray: 245 245;
        fill: var(--color-emphasize);
        opacity: 1;
    }

    100% {
        stroke: var(--color-bg);
        stroke-dasharray: 250 0;
        fill: var(--color-bg);
        opacity: 1;
    }
}

@keyframes intro-logo {
    0% {
        stroke: var(--color-emphasize);
        stroke-dasharray: 0 1200;
    }
    8% {
        stroke: var(--color-bg);
        stroke-dasharray: 0 1200;
    }

    100% {
        stroke: var(--color-bg);
        stroke-dasharray: 1200 0;
        opacity: 1;
    }
}
