@keyframes k-up-to-now-show {
    0% {
        fill: transparent;
        stroke-dasharray: 0 800;
        transform: translateY(6vh);
    }

    70% {
        stroke-dasharray: 800 0;
        fill: transparent;
    }

    100% {
        fill: var(--color-title-special);
        stroke-dasharray: 800 0;
        transform: translateY(0);
    }
}
