@keyframes k-what-i-do-show {
    0% {
        stroke-dasharray: 0 800;
        fill: transparent;
    }

    50% {
        stroke-dasharray: 800 0;
        fill: transparent;
    }

    100% {
        fill: var(--color-emphasize);
        stroke-dasharray: 800 0;
    }
}
