@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Gentium+Plus:wght@400;700&display=swap');

/* USAGE:
font-family: 'DM Sans', sans-serif;
font-family: 'Gentium Plus', serif;
*/

@mixin body ($size: 1rem, $color: inherit) {
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    font-size: $size;
    color: $color;
}

@mixin headers($size: 1rem, $color: var(--color-emphasize)) {
    font-family: 'Gentium Plus', serif;
    font-weight: normal;
    font-size: $size;

    color: $color;
}
