@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Gentium+Plus:wght@400;700&display=swap');

/* USAGE:
font-family: 'DM Sans', sans-serif;
font-family: 'Gentium Plus', serif;
*/

body {
    font-family: 'DM Sans', sans-serif;
    font-weight: normal;
    font-size: 1rem;
}

