$reference: (
        "pl": "(max-width: 567px)",
        "t": "(min-width: 768px)",
        "tl": "(min-width: 1024px)",
        "d": "(min-width: 1025px)",
        "dm": "(min-width: 1440px)",
        "dl": "(min-width: 1920px)",
        "dxl": "(min-width: 2200px)",
        "touch": "(hover:none) and (pointer:coarse)",
        "mouse": "(hover:hover) and (pointer:fine)",
) !default;

@mixin media($breakpoint) {
    @if map-has-key($reference, $breakpoint) {
        @media #{map-get($reference, $breakpoint)} {
            @content;
        }
    }
}

// Hide the element on mobile devices instead of apply the original display value.
@mixin hideForTouch() {
    display: none;

    @include media('mouse') {
        @content
    }
}

// Z-index
$depth: (
        'header': 100,
        'modal': 9999
);

@mixin zIndex($value) {
    @if map-has-key($depth, $value) {
        z-index: #{map-get($depth, $value)};
    }
}

// Sizes

@mixin fullscreenFixed() {
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


// Common transition
@mixin baseTransition($attr...) {
    transition-property: $attr;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
